<p id="notice"><%= notice %></p>

<p>
  <strong>Device ID:</strong>
  <%= @user.device_id %>
</p>

<p>
  <strong>Device Token:</strong>
  <%= @user.device_token %>
</p>

<p>
  <strong>Device Type:</strong>
  <%= @user.device_type %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Profile Picture:</strong>
  <%= image_tag @user.profile_picture %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
