<h1>Feedbacks</h1>

<table class="table table-striped">
  <thead>
    <th>Audio</th>
    <th>Created At</th>
    <th>Name</th>
    <th>Device Type</th>
    <th>Device ID</th>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td>
          <span>
            <audio controls>
              <source src=<%= feedback.audio %> type="audio/mpeg">
              audio tag not supported.
            </audio>
          </span>
        </td>
        <td><%= feedback.created_at %></td>
        <td><%= feedback.name %></td>
        <td><%= feedback.device_type %></td>
        <td><%= feedback.device_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
